@page
@model Pizzas.Pages.PizzasModel
@{
}
<div class="text-center">
    <div>
        <h1 class="display-4 text-capitalize text-black">Order Up</h1>
    
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwn">
                    <div class="col-4">
                        <img src="~/images/pizza.jpg" class="w-100"/>
                    </div>
                    <div class="col-8 align-items-center makeYourOwnText">
                        <div class="align-middle">
                            <h3 style="text-align:left;">Create your own</h3>
                        <p style="text-align:left;">Omnomnomnom</p>
                        <a class="btn btn-primary" style="float:left;" asp-area="" asp-page="Forms/CustomPizza">Get now</a>    
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>