html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.makeYourOwn{
    background: grey;
    margin:0;
}

.makeYourOwnText {
    color: #f4f4f4;
}